<div class='gridlines-wrapper'>

  <hr class='ductwork'>

  <div class='grid'>
    <div class='grid-col grid-col-left'/>
    <div class='grid-col grid-col-mid'/>
    <div class='grid-col grid-col-right'/>
  </div>
</div>
